#login-link{
  background: green;
  border-radius: 1em;
  padding:1em;
  margin:1em;
  font-size: 1em;
  vertical-align: middle;
  display: inline-flex;
  align-items:center;
  justify-content: center;
  text-align:center;
}

a #login-link{
    color:white;
}

a #login-link:hover{
  color:yellow;
  background: darkgreen;
  text-decoration: underline;
}
