input{
  font-size: 1em;
  margin: 1em;
  padding: 1em;
  border-radius: 2rem;
}
input[type=submit]{
  color:white;
  background: green;
  border-radius: 1em;
  padding:1em;
  margin:1em;
  font-size: 1em;
  vertical-align: middle;
  display: block-flex;
  align-items:center;
  justify-content: center;
  text-align:center;
}
