body{
        margin: 0;
        padding:0;
        background-color:#332211;
        color: #ffeedd;
        font-family:sans-serif;
        text-align:center;
        font-size: min(5vh, 5vw);
        overflow: hidden;
}
h1{
        color:#eeddcc;
        margin: 0 0 0.5em 0;
        background-color: #666666;
        padding: 0.5em;
        font-size: 1em;
}
h2{
        margin:0.25em;
        background-color: #444444;
        font-size: 1em;
}
p{
  padding: 1em;
  margin: 1em;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

input[type="submit"], button{
  width:95%;
}
